<!--
  Generated template for the ProfileRecommendMeByPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ card.firstName }} {{ card.lastName.charAt(0) }}.</ion-title>
    <ion-buttons end>
      <button ion-button (click)="edit()" *ngIf="!editing">Edit</button>
      <button ion-button form="recommendationsForm" *ngIf="editing">Save</button>
    </ion-buttons>
  </ion-navbar>
  <div class="hr"></div>
</ion-header>
<ion-content *ngIf="recommendationsForm">
  <form [formGroup]="recommendationsForm" (ngSubmit)="recommendationsFormSubmit()" id="recommendationsForm">
    <h2 class="list-title">Recommend me by</h2>
    <ion-list>
      <ion-item>
        <ion-label floating>Recommendation 1</ion-label>
        <ion-input type="text" formControlName="recBy1" [disabled]="!editing"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Recommendation 2</ion-label>
        <ion-input type="text" formControlName="recBy2" [disabled]="!editing"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Recommendation 3</ion-label>
        <ion-input type="text" formControlName="recBy3" [disabled]="!editing"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Recommendation 4</ion-label>
        <ion-input type="text" formControlName="recBy4" [disabled]="!editing"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Recommendation 5</ion-label>
        <ion-input type="text" formControlName="recBy5" [disabled]="!editing"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
