<!--
  Generated template for the ProfilePatentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ card.firstName }} {{ card.lastName.charAt(0) }}.</ion-title>
    <ion-buttons end>
      <button ion-button (click)="editing = true" *ngIf="!editing">Edit</button>
      <button ion-button form="dataForm" *ngIf="editing && list.controls.length">Save</button>
    </ion-buttons>
  </ion-navbar>
  <div class="hr"></div>
</ion-header>
<ion-content *ngIf="dataForm">
  <form [formGroup]="dataForm" (ngSubmit)="saveProfileContactData()" id="dataForm">
    <div formArrayName="list">
      <h2 class="list-title">
        Patent
      </h2>
      <div *ngFor="let group of list.controls; let i = index; let l = last">
        <div [formGroupName]="i">
          <ion-list>
            <ion-item>
              <ion-label floating>Title</ion-label>
              <ion-input type="text" formControlName="title" [disabled]="!editing"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Office</ion-label>
              <ion-input type="text" formControlName="office" [disabled]="!editing"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Number</ion-label>
              <ion-input type="text" formControlName="number" [disabled]="!editing"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Date Issued</ion-label>
              <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="DD MMMM YYYY" formControlName="dateIssued"
                            [disabled]="!editing"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label floating>Description</ion-label>
              <ion-textarea type="text" formControlName="description" [disabled]="!editing"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label floating>Inventor Name</ion-label>
              <ion-input type="text" formControlName="inventorName" [disabled]="!editing"></ion-input>
            </ion-item>
          </ion-list>
          <ion-list formControlName="status" radio-group>
            <ion-list-header>
              Status
            </ion-list-header>
            <ion-item>
              <ion-label>Issued</ion-label>
              <ion-radio value="0" [disabled]="!editing"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Pending</ion-label>
              <ion-radio value="1" [disabled]="!editing"></ion-radio>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item class="add-item" *ngIf="editing">
              <button ion-button icon-start outline (click)="addItem(); $event.preventDefault()" *ngIf="l">
                <ion-icon name="add"></ion-icon>
                add patent
              </button>
              <button ion-button icon-start item-end outline color="danger"
                      (click)="removeProfileContactData(group.controls.id, i); $event.preventDefault()">
                <ion-icon name="remove"></ion-icon>
                remove
              </button>
            </ion-item>
          </ion-list>
        </div>
      </div>
      <ion-list>
        <ion-item class="add-item" *ngIf="!list.controls.length && editing">
          <button ion-button icon-start outline (click)="addItem(); $event.preventDefault()">
            <ion-icon name="add"></ion-icon>
            add patent
          </button>
        </ion-item>
      </ion-list>
    </div>
  </form>
</ion-content>
