// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.button-md, .button-ios {
  text-transform: initial;
  font-weight: normal;
}

.button-large-md, .button-large-ios {
  font-size: 22px;
}

.list-md > .item-block:last-child .item-inner,
.list-md > .item-wrapper:last-child .item-block .item-inner,
.list-ios > .item-block:last-child .item-inner,
.list-ios > .item-wrapper:last-child .item-block .item-inner {
  border-bottom: 0.55px solid #c8c7cc;
}

.list-md > .item-block:last-child,
.list-md > .item-wrapper:last-child .item-block,
.list-ios > .item-block:last-child,
.list-ios > .item-wrapper:last-child .item-block {
  border-bottom: 0;
}

.header {
  &:after {
    content: '';
    display: none;
  }
  .toolbar {
    width: 100%;
    position: relative;

    .toolbar-background {
      background: url(../assets/imgs/logo_bg.png);
    }
    .logo {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.hr {
  height: 5px;
  background: color($colors, primary);
}

.grid {
  padding: 0;

  .col {
    padding: 0;
  }
}

.input-errors {
  min-height: 11px;
  padding: 0 14px;

  &[hidden] {
    display: block;
    visibility: hidden;
  }
  p {
    font-size: 9px;
    margin: 0;
    padding-top: 1px;
  }
}

.list-md:not([no-lines]),
.list-ios:not([no-lines]) {
  .item .item-inner {
    border-bottom: 1px solid rgba(color($colors, primary), 0.52);
  }
  .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom: 1px solid color($colors, primary);
  }
}

.item-md,
.item-ios {
  padding-left: 14px;

  &.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  &.item-input.item-input-has-focus .item-inner,
  &.item-input.input-has-focus .item-inner {
    box-shadow: none;
  }
  &.item-input.item-input-has-value .item-inner,
  &.item-input.input-has-value .item-inner {
    box-shadow: none;
    color: color($colors, primary);
  }
  &.item-input {
    color: rgba(color($colors, primary), 0.52);
    font-size: 18px;

    ::placeholder {
      color: rgba(color($colors, primary), 0.52);
    }
  }
  .text-input-md,
  .text-input-ios {
    margin: 12px 0;
  }
}

.action-sheet {
  position: fixed;
  top: 100vh;
  left: 0;
  right: 0;
  z-index: 999999;
  height: 100vh;
  transition: all 0s ease .3s;

  .sheet-effect {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: relative;
    transition: all .3s ease;
  }
  &.active {
    top: 0;
    transition: none;

    .sheet-effect {
      background: rgba(0, 0, 0, .40);
      transition: all .3s ease;
    }
    .sheet {
      bottom: 0;
      transition: all .3s ease;
    }
  }
  .sheet {
    position: absolute;
    bottom: -1000px;
    left: 8px;
    right: 8px;
    transition: all .3s ease;

    .sheet-info {
      height: 204px;
      border-radius: 15px;
      background: rgba(#F7F7F7, .96);

      .sheet-top {
        padding: 20px 15px;
        display: flex;
        border-bottom: 1px solid #DADADE;

        .avatar {
          width: 55px;
          height: 55px;
        }
        .sheet-top-info {
          padding: 0 7px;

          h3 {
            font-size: 14px;
            margin: 8px 0;
          }
          p {
            font-size: 12px;
            color: #8E8E93;
            margin: 8px 0;
          }
        }
      }
      .sheet-bottom {
        padding: 12px 4px;

        .card {
          margin: 8px;
          width: calc(100% - 18px);
          text-align: center;
          height: 68px;
          border-radius: 10px;
          box-shadow: none;
          //width: call(100% - 20px);

          .img {
            width: 100%;
            padding: 12px 15px;
            height: 50px;
          }
          .card-content {
            padding: 0;

            p {
              color: color($colors, primary);
              font-size: 10px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .button {
      border-radius: 15px;
      background: rgba(#F7F7F7, .96);
      margin: 10px 0;
      color: color($colors, primary);
    }
  }
}
