<!--
  Generated template for the ProfileFilesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ card.firstName }} {{ card.lastName.charAt(0) }}.</ion-title>
    <ion-buttons end>
      <button ion-button (click)="edit()" *ngIf="!editing">Edit</button>
      <button ion-button form="filesForm" *ngIf="editing">Save</button>
    </ion-buttons>
  </ion-navbar>
  <div class="hr"></div>
</ion-header>
<ion-content>
  <form [formGroup]="filesForm" (ngSubmit)="filesFormSubmit()" id="filesForm">
    <div formArrayName="files">
      <h2 class="list-title">File</h2>
      <ion-grid class="file-grid">
        <ion-row>
          <ion-col col-6 *ngFor="let file of filesForm.get('files').controls; let i = index; let l = last">
            <ion-card [formGroupName]="i">
              <ion-card-content>
                <i *ngIf="editing" (click)="removeFile(file)"></i>
                <img src="assets/icon/file.png" alt="file">
                <ion-input type="text" formControlName="title" [disabled]="!editing"></ion-input>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col col-6 *ngIf="editing">
            <ion-card class="active" (click)="uploadInput.click()">
              <ion-card-content>
                <img src="assets/icon/plus.png" alt="file">
                <p>Upload File</p>
                <input type="file" (change)="uploadFile($event); uploadInput.value = ''" #uploadInput>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
