page-messages-room {
  .header {
    .messages-time-top {
      text-align: center;
      margin-top: 3px;
      width: 100%;
      position: absolute;
      z-index: -1;
      transition: all .3s ease;
      transform: translateY(-150%);
      opacity: 0;

      &.active {
        transform: translateY(0%);
        opacity: 1;
      }
      span {
        background: rgba(color($colors, dark), .4%);
        display: inline-block;
        height: 25px;
        line-height: 25px;
        padding: 0 5px;
        border-radius: 15px;
      }
    }
  }
  .content {
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }
  .footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    height: 55px;
  }
  .line-breaker {
    .time {
      float: right;
      font-size: 10px;
      vertical-align: bottom;
      margin-top: 4px;
      margin-left: 10px;
    }
  }
  .input-wrap {
    padding: 5px;
    display: flex;

    textarea {
      flex: 1;
      border: 0 solid;
      border-bottom: 1px #387ef5;
      height: 45px;
    }
  }

  .message-wrap {
    padding: 0 10px;

    .message {
      position: relative;
      padding: 7px 0;

      .messages-time {
        margin-top: -4px;
        text-align: center;

        span {
          background: rgba(color($colors, dark), .4%);
          display: inline-block;
          height: 25px;
          line-height: 25px;
          padding: 0 5px;
          border-radius: 15px;
        }
      }
      &.left .message-content {
        background-color: #fff;
        float: left;
      }
      .avatar-border {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        overflow: hidden;

        strong {
          font-size: 18px;
        }
      }
      .message-detail {
        width: 100%;
        display: inline-block;

        p {
          margin: 0;
        }
        .message-info p {
          font-size: .8em;
          color: #888;
        }
        .message-content {
          position: relative;
          margin-top: 5px;
          border-radius: 5px;
          padding: 8px;
          border: 1px solid #ddd;
          color: #fff;
          width: auto;
          max-width: 80%;

          span.triangle {
            background-color: #fff;
            border-radius: 2px;
            height: 8px;
            width: 8px;
            top: 12px;
            display: block;
            border-style: solid;
            border-color: #ddd;
            border-width: 1px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
          }
        }
      }
    }
  }
  .message-wrap .message.left .message-detail {
    padding-left: 60px;
  }
  .message-wrap .message.left .avatar-border {
    left: 0;
  }
  .message-wrap .message.left .message-detail .message-content {
    color: #343434;
  }
  .message-wrap .message.left .message-detail .message-content span.triangle {
    border-top-width: 0;
    border-right-width: 0;
    left: -5px;
  }
  .message-wrap .message.right .message-detail {
    padding-right: 60px;
  }
  .message-wrap .message.right .message-detail .message-info {
    text-align: right;
  }
  .message-wrap .message.right .avatar-border {
    right: 0;
  }
  .message-wrap .message.right ion-spinner {
    position: absolute;
    right: 10px;
    top: 50px;
  }
  .message-wrap .message.right .message-detail .message-content {
    background-color: color($colors, primary);
    float: right;
  }
  .message-wrap .message.right .message-detail .message-content span.triangle {
    background-color: color($colors, primary);
    border-bottom-width: 0;
    border-left-width: 0;
    right: -5px;
  }
}
